In [59]:
def rename_col(dataframe, sep):
    dic = {}
    for each in dataframe.columns:
        column_split = each.split(sep = sep)
        if len(column_split) == 1:
            if column_split[0][0] in dataframe.columns:
                dataframe.rename(columns = {each : column_split[0][:3]}, inplace = True)
                dic[column_split[0][:3]] = each
            else:
                dataframe.rename(columns = {each : column_split[0][:3]}, inplace = True)
                dic[column_split[0][:3]] = each
        else:
            final = ''
            for a in column_split:
                final += a[0][0]
            dic[final] = each
            dataframe.rename(columns = {each : final}, inplace = True)
    return dic

In [124]:
import pandas as pd
df_sfo = pd.read_csv(r'/Users/dhruvpandit/Downloads/Air_Traffic_Passenger_Statistics(1).csv',error_bad_lines=False)
df_sfo = df_sfo[df_sfo['Activity Period'].astype(str).str.startswith('2019')]
df_sfo = df_sfo[df_sfo['GEO Summary'] == 'Domestic']
column_df_sfo = rename_col(df_sfo, " ")
df_sfo['M'] = df_sfo.apply(lambda x: int(str(x.AP)[4:]), axis=1)
df_sfo['Q'] = df_sfo.apply(lambda x: 1 if x.M in (1, 3) else (2 if x.M in (4, 6) else (3 if x.M in (7, 9) else 4)), axis=1)
df_sfo.drop(columns=['M', 'AP'], inplace=True, axis = 1)
df_sfo['Y'] = 2019
df_sfo.reset_index()

/var/folders/6c/vby383sn3xlg0j_c253f0sf40000gn/T/ipykernel_7652/2557747967.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_sfo = pd.read_csv(r'/Users/dhruvpandit/Downloads/Air_Traffic_Passenger_Statistics(1).csv',error_bad_lines=False)

,index,OA,OAIC,PA,PAIC,GS,GR,ATC,PCC,Ter,BA,PC,Q,Y
0,19833,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Deplaned,Other,Terminal 2,D,218037,1,2019
1,19834,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Enplaned,Other,Terminal 2,D,206378,1,2019
2,19839,American Airlines,AA,American Airlines,AA,Domestic,US,Deplaned,Other,Terminal 1,C,32816,1,2019
3,19840,American Airlines,AA,American Airlines,AA,Domestic,US,Enplaned,Other,Terminal 1,C,33768,1,2019
4,19841,American Airlines,AA,American Airlines,AA,Domestic,US,Deplaned,Other,Terminal 2,D,121463,1,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,21656,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,E,286655,4,2019
483,21657,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,E,41,4,2019
484,21658,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,417434,4,2019
485,21659,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,420455,4,2019
486,21660,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,F,234,4,2019

In [112]:
df_sfo.pivot_table(values='PC', index=[ 'Q', 'M','OA', 'ATC'])

                                                     PC
Q M  OA                   ATC
1 1  Alaska Airlines      Deplaned        218037.000000
                          Enplaned        206378.000000
     American Airlines    Deplaned         77139.500000
                          Enplaned         72080.000000
     Compass Airlines     Deplaned          6586.666667
...                                                 ...
4 12 Sun Country Airlines Deplaned          8495.000000
                          Enplaned          8657.000000
     United Airlines      Deplaned        237470.333333
                          Enplaned        240790.000000
                          Thru / Transit     137.500000

[311 rows x 1 columns]

In [43]:
df_sfo['PC'].sum()

42116019

In [84]:
df_sfo['OA'].unique()

array(['Alaska Airlines', 'American Airlines', 'Compass Airlines',
       'Delta Air Lines', 'Frontier Airlines', 'Hawaiian Airlines',
       'Horizon Air', 'JetBlue Airways', 'SkyWest Airlines',
       'Southwest Airlines', 'Sun Country Airlines', 'United Airlines'],
      dtype=object)

In [45]:
#so for the above dataset now i need to report the total number of passengers for each airline
df_sfo.groupby('OA')['PC'].sum()

OA
Alaska Airlines          5671307
American Airlines        3918421
Compass Airlines          294752
Delta Air Lines          4431211
Frontier Airlines         476731
Hawaiian Airlines         366156
Horizon Air               324901
JetBlue Airways          1455318
SkyWest Airlines         4074547
Southwest Airlines       3250038
Sun Country Airlines      211427
United Airlines         17641210
Name: PC, dtype: int64

In [90]:
df_sfo['ATC'].unique()

array(['Deplaned', 'Enplaned', 'Thru / Transit'], dtype=object)

In [103]:
df_sfo['PC'].sum()

42116019

In [ ]:
df_sfo['']

In [131]:
da = pd.read_csv(r'/Users/dhruvpandit/Downloads/T_T100D_SEGMENT_ALL_CARRIER.csv')
print(da.shape)
column_rename   = rename_col(da, '_')
print(da['PAS'].sum())
da = da[((da['ORI'] == 'SFO')| (da['DES'] == 'SFO')) & (da['PAS'] != 0)]
print(da.shape)
print(da['PAS'].sum())

(395552, 45)
821070785.0
(10630, 45)
40881719.0

In [140]:
da = da[['PAS', 'UC', 'UCN', 'CAR', 'CN','ORI', 'OCN', 'OSA' , 'DES', 'DCN','DSA', 'YEA', 'QUA', 'CLA']]
da

,PAS,UC,UCN,CAR,CN,ORI,OCN,OSA,DES,DCN,DSA,YEA,QUA,CLA
27,100.0,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,SFO,"San Francisco, CA",CA,CRP,"Corpus Christi, TX",TX,2019,2,F
28,143.0,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,SFO,"San Francisco, CA",CA,IND,"Indianapolis, IN",IN,2019,2,F
205,145.0,B6,JetBlue Airways,B6,JetBlue Airways,SFO,"San Francisco, CA",CA,RSW,"Fort Myers, FL",FL,2019,2,F
398,5.0,3EQ,"Scott Aviation, LLC d/b/a Silver Air",3EQ,"Scott Aviation, LLC d/b/a Silver Air",BZN,"Bozeman, MT",MT,SFO,"San Francisco, CA",CA,2019,3,L
399,1.0,3EQ,"Scott Aviation, LLC d/b/a Silver Air",3EQ,"Scott Aviation, LLC d/b/a Silver Air",C01,"Camarillo, CA",CA,SFO,"San Francisco, CA",CA,2019,3,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394854,42630.0,UA,United Air Lines Inc.,UA,United Air Lines Inc.,EWR,"Newark, NJ",NJ,SFO,"San Francisco, CA",CA,2019,2,F
394886,41646.0,UA,United Air Lines Inc.,UA,United Air Lines Inc.,EWR,"Newark, NJ",NJ,SFO,"San Francisco, CA",CA,2019,4,F
394888,42448.0,UA,United Air Lines Inc.,UA,United Air Lines Inc.,SFO,"San Francisco, CA",CA,EWR,"Newark, NJ",NJ,2019,4,F
394973,44644.0,UA,United Air Lines Inc.,UA,United Air Lines Inc.,EWR,"Newark, NJ",NJ,SFO,"San Francisco, CA",CA,2019,3,F
394976,42117.0,UA,United Air Lines Inc.,UA,United Air Lines Inc.,SFO,"San Francisco, CA",CA,EWR,"Newark, NJ",NJ,2019,3,F

In [147]:
"CA" in ['CA']

True

In [150]:
def segmentation(row):
    if row in ['CA']:
        return '01_in_CA'
    elif row in ['MT', 'ID', "WY", 'NV', 'UT', "CO", 'AZ', 'NM']:
        return '02_Pacific'
    elif row in ['MT', 'ID', 'WY', 'NV', 'UT', 'CO', 'AZ', 'NM']:
        return '03_Mountain'
    elif row in ['OK', 'AR', 'TX', 'LA']:
        return '04_West_South_Central'
    elif row in ['KY','TN', 'MS', 'AL']:
        return '05_East_South_Central'
    elif row in ['WV', 'MD', 'DE', 'DC', 'VA', 'NC', 'SC', 'GA', 'FL']:
        return '06_South_Atlantic'
    elif row in ['ND', 'SD', 'NE', 'KS', 'MN', 'IA', 'MO']:
        return '07_West_North_Central'
    elif row in  ['WI', "IL", 'IN', 'OH', 'MI']:
        return '08_East_North_Central'
    elif row in ['NJ', 'PA', 'NY']:
        return '09_Middle_Atlantic'
    elif row in ['CT', 'RI', 'MA',' VT', 'NH', 'ME']:
        return '10_New_England'
    elif row in ['03_Mountain', '02_Pacific' ,'01_in_CA']:
        return '01_West'
    elif row in ['06_South_Atlantic' , '05_East_South_Central', '04_West_South_Central']:
        return '02_South'
    elif row in ['08_East_North_Central', '07_West_North_Central']:
        return '03_Midwest'
    elif row in ['10_New_England', '09_Middle_Atlantic']:
        return '04_Northeast'

def airlineseg(row) :
    if row in ('United Airlines', 'Alaska Airlines'):
        return '01_home'
    else:
        return '02_other'

In [153]:
da['subseg_des'] = da['DSA'].apply(segmentation)
da['subseg_ori'] = da['OSA'].apply(segmentation)
da['seg_des'] = da['subseg_des'].apply(segmentation)
da['seg_ori'] = da['subseg_ori'].apply(segmentation)
da['al_code'] = da['CN'].apply(airlineseg)
da

,PAS,UC,UCN,CAR,CN,ORI,OCN,OSA,DES,DCN,DSA,YEA,QUA,CLA,seg_des,subseg_des,subseg_ori,seg_ori,al_code
27,100.0,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,SFO,"San Francisco, CA",CA,CRP,"Corpus Christi, TX",TX,2019,2,F,02_South,04_West_South_Central,01_in_CA,01_West,02_other
28,143.0,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,SFO,"San Francisco, CA",CA,IND,"Indianapolis, IN",IN,2019,2,F,03_Midwest,08_East_North_Central,01_in_CA,01_West,02_other
205,145.0,B6,JetBlue Airways,B6,JetBlue Airways,SFO,"San Francisco, CA",CA,RSW,"Fort Myers, FL",FL,2019,2,F,02_South,06_South_Atlantic,01_in_CA,01_West,02_other
398,5.0,3EQ,"Scott Aviation, LLC d/b/a Silver Air",3EQ,"Scott Aviation, LLC d/b/a Silver Air",BZN,"Bozeman, MT",MT,SFO,"San Francisco, CA",CA,2019,3,L,01_West,01_in_CA,02_Pacific,01_West,02_other
399,1.0,3EQ,"Scott Aviation, LLC d/b/a Silver Air",3EQ,"Scott Aviation, LLC d/b/a Silver Air",C01,"Camarillo, CA",CA,SFO,"San Francisco, CA",CA,2019,3,L,01_West,01_in_CA,01_in_CA,01_West,02_other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394854,42630.0,UA,United Air Lines Inc.,UA,United Air Lines Inc.,EWR,"Newark, NJ",NJ,SFO,"San Francisco, CA",CA,2019,2,F,01_West,01_in_CA,09_Middle_Atlantic,04_Northeast,02_other
394886,41646.0,UA,United Air Lines Inc.,UA,United Air Lines Inc.,EWR,"Newark, NJ",NJ,SFO,"San Francisco, CA",CA,2019,4,F,01_West,01_in_CA,09_Middle_Atlantic,04_Northeast,02_other
394888,42448.0,UA,United Air Lines Inc.,UA,United Air Lines Inc.,SFO,"San Francisco, CA",CA,EWR,"Newark, NJ",NJ,2019,4,F,04_Northeast,09_Middle_Atlantic,01_in_CA,01_West,02_other
394973,44644.0,UA,United Air Lines Inc.,UA,United Air Lines Inc.,EWR,"Newark, NJ",NJ,SFO,"San Francisco, CA",CA,2019,3,F,01_West,01_in_CA,09_Middle_Atlantic,04_Northeast,02_other
394976,42117.0,UA,United Air Lines Inc.,UA,United Air Lines Inc.,SFO,"San Francisco, CA",CA,EWR,"Newark, NJ",NJ,2019,3,F,04_Northeast,09_Middle_Atlantic,01_in_CA,01_West,02_other